@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.admin-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4f4f4;
}

.install-container {
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    margin-top:3em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.body-dashboard {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4f4f4;
}
.container-dashboard {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    width: 100%;
    text-align: center;
    margin-top: 20px; /* Ajuste para que no quede pegado al borde superior */
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

h1 {
    color: #333;
    font-size: 34px;
    margin: 5px auto 20px auto;
    flex-grow: 1;
    text-align: center;
}
h2 {
    margin:0px 0px 40px 0px;;
    padding:0;
}
h3 {
  text-align: left;
  color: #333;
}
h4 {
  text-align: left;
  color: #333;
} 
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
    color: #666;
}

input[type="text"],
input[type="password"] {
    padding: 10px 10px 10px 50px;
    width: calc(100% - 60px);
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
}

/* Clear the dots in password field by default */
input[type="password"]::-webkit-input-placeholder {
    color: transparent;
}

input[type="password"]:-ms-input-placeholder {
    color: transparent;
}

input[type="password"]::placeholder {
    color: transparent;
}

.input-tool {
    padding: 5px 5px 5px 20px !important;
    border-radius: 4px !important;
}
.input-vt-key {
    padding: 5px 5px 5px 20px !important;
    border-radius: 4px !important;
    width: 100% !important;
    border:solid 1px #ddd !important;
    margin-top: 10px;
}
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button-small {
    width: 40%;
    margin:0 auto;
}

.button-api-small {
    padding:5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.button-secondary {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #E9E9E9;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.button-secondary:hover {
    background-color: #666;
    color:#fff;
    text-decoration: none;
}

p {
    margin-top: 10px;
}
.paragraph-bolder {
    font-weight: bold;
    color:#333;
}
.paragrah-install {
    color: #666;
    text-align: left;
}
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.error {
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    background-color: #F8D4CC;
    color: #333333;
    text-align: left;
}
.error p {
    padding:0;
}
.info {
    color: #666;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #daecf7;
}
.message {
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    color: green;
    text-align: left;
}

.success {
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    background-color: #79b779;
    color: #fff;
    text-align:center;
    
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* Eliminate any extra space */
    line-height: 1;
}

.input-icon i {
    margin: 0;
    padding: 0;
}

.sub-title {
    color:#666;
}
#password-strength {
    font-weight: bold;
}
.strength-indicator {
    position: absolute;
    top: 18px;
    right: 10px;
    font-size: 12px;
    color: #555;
}

.https-warning p {
    color:crimson;
}

.code-input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.code-input {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
}

.validate-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.remaining_time {
    font-size: 1.2em;
    font-weight: bold;
}
.code-input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.code-input {
    width: 40px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    outline: none;
    padding:0 !important;
    margin-right:4px;
}

.code-input:focus {
    border-color: #000;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.info-container {
    display: block; /* Ensure this div is a block element */
    text-align: center;
    margin-top: 20px;
}
.form-code {
    display: block;
}
.lang-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-align: right;
}
.language-menu {
    display: inline-block;
}

.language-menu form {
    display: flex;
    align-items: center;
}

.language-menu select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.lang-config {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  text-align: left;
}
.lost-pass {
    text-align: right;
    font-size: 14px;
}

.lost-pass a {
    text-decoration: underline;
}
.lost-pass a:hover {
    color:#007bff;
}

.admin-link {
    text-align: center;
    font-size: 14px;
}

.admin-link a {
    color:#007bff;
    text-decoration: underline;
}
.admin-link a:hover {
    color:#666;
}
.caps-warning, .match-warning {
    display: none;
    text-align: left;
    padding-top: 10px;
    color: red;
}
.button-container {
  display: flex;
}

.primary-button {
  /* styles for left button */
  width: 50%;
  margin: 5px 5px 5px 0;
}

.secondary-button {
  width: 50%;
  margin: 5px 0px 5px 0;
}
.link-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-family: inherit; 
    display: inline;
}
.link-button:hover,
.link-button:focus,
.link-button:active {
    text-decoration: underline;
    background: none; 
    color: #007bff; 
    text-decoration: underline;
    outline: none;
}
.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-left-color: #ffffff;
    animation: spin 1s ease infinite;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

/* Animación para el spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
        
.container-config {
    display: flex;

}
.qr_container {}
.qr_image {
    padding: 5px;
    border: solid 1px #ccc;
}
.tabs {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-right: 1px solid #ccc;
}
.tab {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.tab:hover {
    background-color: #f0f0f0;
}
.tab.active {
    background-color: #333;
    color:#ddd;
}
.tab-content {
    flex: 1;
    padding: 10px 10px 20px 10px;
    display: none;
}
.tab-content.active {
    display: block;
}
.tabs-config {
    margin: 10px;
}

.tabs-config .tab-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.tabs-config .tab-links li {
    margin-right: 10px;
}

.tabs-config .tab-links a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    padding: 5px 10px;
    display: inline-block;
}

.tabs-config .tab-links a.active {
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}
.tabs-config .tab-config-content {
    margin-top:10px;
}
.tabs-config .tab-config-content .tab-pane {
    display: none;
}

.tabs-config .tab-config-content .tab-pane.active {
    display: block;
}
.auth-method {
    margin-bottom: 20px;
}
.request-response {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
.button-tool {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 5px;
  width: 40%;
  margin: 10px auto;
}
.button-tool:disabled {
    background-color: #6c757d;
}
.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px; 
    height: 24px; 
    border-radius: 50%;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px; 
    text-align: center;
    line-height: 1; 
}
.plus {
    background-color: #007bff;
}
.minus {
    background-color: red;
}
.icon-button:hover {
    background-color: #0056b3;
}
.icon-button i {
    vertical-align: middle;
}

.select-payload-type {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.select-payload-type option {
    background-color: #fff;
    color: #333;
}

.select-payload-type option:hover {
    background-color: #ddd; 
    color: #000; 
}
.select-disabled {
    background-color: #cecece !important;
}
.api-log {
    margin:5px;
    padding:10px;
    border:solid 1px #ddd;
    height: 200px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
    font-family:Courier New, Courier, monospace;
    
}
.api-log pre {
    text-align:left;
    word-wrap:break-word;
    max-width: 420px;
}
.admin-border {
    border: solid 1px #ececec;
}
.home-link {
    text-align: left;
}
.home-link a {
    text-align: left;
    padding-right: 5px;
}
.home-link span {
    color:#666666;
}

.list-errors {
    margin:0;
    padding:0;
}
.list-errors li {
    list-style-type:none;
}
.form-config input[type="text"], .form-config input[type="password"] {
  padding: 10px 10px 10px 30px;
  width: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 16px;
  margin-bottom:10px;
}
.switch {
    display: inline-block;
    position: relative;
    width: 50px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 24px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    transition: background-color 0.3s;
}

.switch label:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s;
}

.switch input:checked + label {
    background-color: #2196F3; /* Azul */
}

.switch input:checked + label:before {
    transform: translateX(26px);
}
.switch-vt-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust the gap between switch and text */
}

.switch-mini {
    position: relative;
    display: inline-block;
    width: 34px; /* Adjusted size for mini switch */
    height: 25px; /* Adjusted size for mini switch */
}

.switch-mini input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-mini label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch-mini label:before {
    position: absolute;
    content: "";
    height: 14px; /* Adjusted size for mini switch */
    width: 14px; /* Adjusted size for mini switch */
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.switch-mini input:checked + label {
    background-color: #4CAF50; /* Same color as the regular switch */
}

.switch-mini input:checked + label:before {
    transform: translateX(14px); /* Adjusted for mini switch */
}
/* Style for the switch text */
.switch-text {
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.hidden-content {
    display: none; /* Oculto por defecto */
}
.hidden-content select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}
.install_table label {
    font-size:15px;
}
.install_table input {
    font-size:16px;
    color: #333;
    width: 90%;
}
.install_table input.key_field {
    font-size:14px;
    color: #333;
    width: 90%;
}
.config_table {
    margin-bottom:10px;
}
.config_table label {
    font-size:15px;
}
.config_table input {
    font-size:16px;
    color: #333;
    width: -moz-available;
}
.config_table input.key_field {
    font-size:14px;
    color: #333;
    width: 100%;
}
.proposed {
  font-size: 13px;
  color: #333;
}
.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}


.upload-form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título del formulario */
.form-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Contenedor de grupo de formularios */
.form-group {
    margin-bottom: 20px;
}

/* Etiqueta del formulario */
.form-label {
    display: block;
    font-size: 1em;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

/* Entrada de archivo */
.form-input {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

/* Botón de envío */
.form-input-file {
    display: none;
}

/* Contenedor del botón de archivo personalizado */
.file-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

/* Botón de archivo personalizado */
.file-input-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.8em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.file-input-button:hover {
    background-color: #0056b3;
}

.mini-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.8em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.mini-button:hover {
    background-color: #0056b3;
}
.mini-button:disabled {
    background-color: #ccc; /* Color de fondo gris */
    color: #666; /* Color del texto más claro */
    cursor: not-allowed; /* Cursor no permitido */
}
/* Nombre del archivo seleccionado */
.file-name {
    margin-left: 10px;
    color: #555;
}

/* Estilo para el mensaje de advertencia cuando JavaScript está deshabilitado */
.js-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    z-index: 9999;
}

/* Estilo para el mensaje cuando JavaScript está habilitado */
body.js-enabled #js-warning {
    display: none;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    font-size:14px;
}

.users-table th, .users-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.users-table th {
    background-color: #f2f2f2;
}

.users-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.users-table tr:hover {
    background-color: #f1f1f1;
}

.users-table a {
    text-decoration: none;
    color: #3498db;
    margin-right: 10px;
}

.users-table a:hover {
    color: #2980b9;
}